*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --cyan:hsl(180, 66%, 49%);
    --dark-violet:hsl(257, 27%, 26%);
    --red:hsl(0, 87%, 67%);
    --gray:hsl(0, 0%, 75%);
    --graylishviolet:hsl(257, 7%, 63%);
    --verydarkblue:hsl(255, 11%, 22%);
    --verydarkviolet:hsl(260, 8%, 14%)
}
@font-face {
    font-family: Poppins;
    src: url(./fonts/Poppins-Bold.ttf);
}
form{
    display: flex;
    flex-direction: column;
}
@font-face {
    font-family: PoppinsMedium;
    src: url(./fonts/Poppins-Medium.ttf);
}
body{
    width: 100vw;
    font-size: 62.5%;
    font-family: Poppins;
    /* overflow-x:hid   den; */
    position: relative;
}
body::-webkit-scrollbar{
    display: none;
}

header{
    display: flex;
    justify-content: center;
    gap: 30%;
    align-items:center;
    color: var(--gray);
    margin: 2.5rem 0rem;
}

.header-left{
    display: flex;
    gap: 2rem;
}
.header-right{
    display: flex;
    font-size: 0.9rem;
    align-items: center;
    gap: 2rem;
}
.header-right button{
    border: none;
    background-color: var(--cyan);
    color: white;
    font-family: Poppins;
    padding: 0.5rem;
    border-radius: 1.5rem;
    width: 6rem;
}
ul{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 0.9rem;
}
li{
    list-style: none;
}
li:hover{
    color: var(--verydarkblue);
}
#shorten-it-btn,.input-and-shortLink button,button:hover{
    background-color: hsl(180, 91%, 58%) !important;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-right svg{
    width: 130%;
    transform: translate(-10%,0);
}
.main-right{
    overflow-x: hidden;
}
.copiedColor{
    background-color: var(--verydarkviolet);
}
main h1{
    font-size: 3rem;
}
main p{
    font-size: 1rem;
    color: var(--gray);
    /* width: 50%; */
    font-family: PoppinsMedium;
}
main button{
    border: none;
    background-color: var(--cyan);
    color: white;
    font-family: Poppins;
    padding: 0.8rem;
    border-radius: 1.8rem;
    width: 10rem;
    font-size: 1.2rem;
    margin-top: 3rem;
}
main .main-left{
    display: flex;
    flex-direction: column;
    padding-left: 8rem ;
}

section{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: hsl(0, 2%, 91%);
    margin-top: 10rem;
    gap: 2rem;
    padding-bottom: 8rem;
    position: relative;
    width: 100%;
}
.input-and-shortLink{
    display: flex;
    justify-content: center;
    width: 80%;
    gap: 1.2rem;
    background-color: var(--dark-violet);
    padding: 3rem;
    border-radius: 1rem; 
    flex-direction: column;
}
.input-and-shortLink input{
    width: 35rem;
    padding: 0.9rem;
    font-family: PoppinsMedium;
    border-radius: 1rem; 
    font-size: 1.2rem;
    outline: none;
    border: none;
    color: black;
}
.input-and-shortLink span{
    color: var(--red);
    font-size: 1rem;
}
.form-btn-box{
    display: flex;
    gap: 2rem;
}
#shorten-it-btn{
    border: none;
    background-color: var(--cyan) !important;
    color: white;
    font-family: Poppins;
    padding: 0.7rem;
    border-radius: 1rem;
    width: 10rem;
    font-size: 1.2rem;
    align-self: flex-start;
}
#shorten-it-btn:hover{
    background-color: hsl(180, 91%, 58%) !important;
}
.link-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    transform: translate(0,-35%);
}
.theLongLink p{
    max-width: 20rem;
}
.shortened{
    width: 80%;
    background-color: white;
    padding: 1.2rem 3rem;
    border-radius: 1rem; 
    display: flex;
    font-size: 1.2rem;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}
.shortened-copyBtn{
    display: flex;
    align-items: center;
    gap: 2rem;
    color: var(--cyan);
}
.shortened-copyBtn button{
    border: none;
    background-color: var(--cyan);
    color: white;
    font-family: Poppins;
    padding: 0.7rem;
    border-radius: 1rem;
    width: 10rem;
    font-size: 1.2rem;
}
.section-title{
    display: flex;
    flex-direction: column;
    color: var(--graylishviolet);
    text-align: center;
    margin: 5rem 0;
    font-size: 1.5rem;
}
.section-title h3{
    color: black;
    font-size: 3rem;
}
.section-title p{
    font-size: 1rem;
    word-spacing: 0.3rem;
    font-family: PoppinsMedium;
}
.cards{
    display: flex;
    width: 80%;
    justify-content: center;
    gap: 5rem;
}
.card{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 40%;
    border-radius: 0.5rem;
    padding: 1.8rem;
    bottom: 50%;
    position: relative;
    gap: 2rem;
}
.card .svg-container{
    background-color: var(--dark-violet);
    align-self: flex-start;
    padding: 0.8rem;
    border-radius: 50%;
    position: absolute ;
    bottom: 19rem;
}
.card h4{
    font-size: 1.2rem;
    padding-top: 3rem;
}
.card p{
    font-size: 0.8rem;
    color: var(--gray);
    font-weight: lighter;
    font-family: PoppinsMedium;
}
aside{
    background-color: hsl(254, 19%, 32%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 15rem;
    justify-content: center;
    gap: 3rem;
    width: 100vw;
}
aside h3{
    font-size: 1.8rem;
}
aside button{
    border: none;
    background-color: var(--cyan);
    color: white;
    font-family: Poppins;
    padding: 0.8rem;
    border-radius: 1.8rem;
    width: 10rem;
    font-size: 1.2rem;
}
footer .footer-logo{
    fill-rule: white;
    margin-right: 12rem;

}
footer{
    background-color: var(--verydarkviolet);
    display: flex;
    color: white;
    align-items: flex-start;
    justify-content: center;
    padding: 3rem;
    gap: 3rem;
}
footer p{
    font-family: PoppinsMedium;
    font-size: 0.8rem;
    color: var(--gray);
}
footer h6{
    font-size: 1rem;    
    margin-bottom: 2rem;
}
.fts{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.socials{
    display: flex;
    gap: 1rem;
}
.error{
    border: 2px solid var(--red) !important;
    color: var(--red);
}
.error::placeholder{
    color: var(--red);
}
.socials svg:hover{
    color: var(--cyan);
}
.hidden{
    display: none !important;
}
footer p:hover{
    color: var(--cyan);
    transition: 0.4s ease color;
}

.mobileMenuBtn{
    display: none;
}
.mobileMenu{
    position: absolute;
    top: 4rem;
    left: 10%;
    background-color: var(--dark-violet);
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 2.5rem;
    align-items: center;
    gap: 3rem;
    padding: 3rem 2rem;
    width: 80%;
    border-radius: 2rem;
}
.mobileMenu hr{
    width: 100%;
}
.mobileMenu button{
    border: none;
    background-color: var(--cyan);
    color: white;
    font-family: Poppins;
    padding: 0.8rem;
    border-radius: 1.8rem;
    width: 80%;
    font-size: 1.2rem;
}
@media screen and (min-width: 1440px){
    header{
        gap: 45%;
    }
    main p{
        width: 70%;
    }
    .card .svg-container{
        left: 10%;
        bottom: 13rem;
    }
    .input-and-shortLink input{
        width: 55rem;
    }
}
@media screen and (max-width: 850px){
    body{

        /* background-color: red; */
        overflow-x: hidden;
        font-size: 32.5%;
        width: 100vw;
        position: relative;
    }
    .mobileMenuBtn{
        display: block;
        align-self: center;
    }
    .header-right{
        display: none;
        align-items: center;
    }
    header{
        gap: 30rem;
    }
    .main-right svg{
        transform: translate(0,0);
        width: 100%;
    }
    ul{
        display: none;
    }
    main{
        flex-direction: column-reverse;
        text-align: center;gap: 2rem;
    }
    main .main-left{
        align-items: center;
        padding-left: 0rem;
        gap: 1rem;
    }
    main h1{
        font-size: 2.5rem;
    }
    main p{
        font-size: 1.2rem;
        width: 80%;
    }
    .main-right{
        width: 100%;
    }
    .form-btn-box{
        flex-direction: column;
    }
    form{
        width: 100%;
    }
    .input-and-shortLink{
        width: 85%;
        justify-content: center;
        align-items: center;
        padding: 1rem 1rem 1rem 1.5rem ;
    }
    .form-btn-box{
        width: 100%;
    }
    .input-and-shortLink input{
        width: 95%;
        
    }
    #shorten-it-btn{
        width: 95%;
    }
    .shortened{
        flex-direction: column;
        gap: 1rem;
        padding: 2rem 0;
    }
    .shortened-copyBtn{
        flex-direction: column;
    }
    .shortened-copyBtn button{
        width: 25rem;
    }
    .shortened{
        width: 85%;
    }
    .shortened p{
        width: 90%;
        text-align: center;
    }
    .shortened-copyBtn {
        width: 100%;
    }
    .shortened-copyBtn button{
        width: 90%;
    }
    hr{
        color: black;
    }
    .link-container{
        transform: translate(0,-15%);
    }
    .section-title{
        align-items: center;
    }
    .section-title h3{
        font-size: 2.8rem;
    }
    .section-title p{
        font-size: 1.1rem;
        text-align: center;
        width: 90%;
    }
    .cards{
        flex-direction: column;
    }
    .card{
        width: 100%;
        align-items: center;
        gap: 2rem;
        text-align: center;
    }
    .card .svg-container{
        left: 45%;
        bottom: 11rem;
    }
    .card h4{
        font-size: 1.5rem;
    }
    .card p{
        font-size: 0.9rem;
    }
    footer{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    footer .footer-logo{
        margin-right: 0;
    }
    footer h6{
        font-size: 1.2rem;
    }
    footer p{
        font-size: 1rem;
    }
    .socials{
        gap: 3rem;
    }
}

@media screen and (max-width: 600px){
    body{

        /* background-color: red; */
        overflow-x: hidden;
        font-size: 32.5%;
        width: 100vw;
        position: relative;
    }
    .mobileMenuBtn{
        display: block;
        align-self: center;
    }
    .header-right{
        display: none;
        align-items: center;
    }
    header{
        gap: 10rem;
    }
    .main-right svg{
        transform: translate(-10%,0);
        width: 100%;
    }
    ul{
        display: none;
    }
    main{
        flex-direction: column-reverse;
        text-align: center;gap: 2rem;
    }
    main .main-left{
        align-items: center;
        padding-left: 0rem;
        gap: 1rem;
    }
    main h1{
        font-size: 2.5rem;
    }
    main p{
        font-size: 1.2rem;
        width: 80%;
    }
    .main-right{
        width: 100%;
    }
    .form-btn-box{
        flex-direction: column;
    }
    form{
        width: 100%;
    }
    .input-and-shortLink{
        width: 85%;
        justify-content: center;
        align-items: center;
        padding: 1rem 1rem 1rem 1.5rem ;
    }
    .form-btn-box{
        width: 100%;
    }
    .input-and-shortLink input{
        width: 95%;
        
    }
    #shorten-it-btn{
        width: 95%;
    }
    .shortened{
        flex-direction: column;
        gap: 1rem;
        padding: 2rem 0;
    }
    .shortened-copyBtn{
        flex-direction: column;
    }
    .shortened-copyBtn button{
        width: 25rem;
    }
    .shortened{
        width: 85%;
    }
    .shortened p{
        width: 90%;
        max-width: 90%;
        text-align: center;
        overflow: scroll;
    }
    .shortened-copyBtn {
        width: 100%;
    }
    .shortened-copyBtn button{
        width: 90%;
    }
    hr{
        color: black;
    }
    .link-container{
        transform: translate(0,-15%);
    }
    .section-title{
        align-items: center;
    }
    .section-title h3{
        font-size: 2.8rem;
    }
    .section-title p{
        font-size: 1.1rem;
        text-align: center;
        width: 90%;
    }
    .cards{
        flex-direction: column;
    }
    .card{
        width: 100%;
        align-items: center;
        gap: 2rem;
        text-align: center;
    }
    .card .svg-container{
        left: 40%;
        bottom: 15rem;
    }
    .card h4{
        font-size: 1.5rem;
    }
    .card p{
        font-size: 0.9rem;
    }
    footer{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    footer .footer-logo{
        margin-right: 0;
    }
    footer h6{
        font-size: 1.2rem;
    }
    footer p{
        font-size: 1rem;
    }
    .socials{
        gap: 3rem;
    }
}
